<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="col-3">
                    <a href="http://lghm.ufpa.br/">
                        <img src="{{ url_for('static', filename = 'images/lghm.png') }}" alt="" width="90px" height="40px">
                    </a>
                    <p align="justify">
                        ncRNA-network is developed by the Laboratory of Human and Medical Genetics (LGHM) at the Institute of Biological Sciences from the Federal University of Pará, Belém, Pará, Brazil.
                    </p>
                </div>
                <div class="col-3">
                    <h5>Contact</h5>
                    <div class="row mb-3">
                        <i class="material-icons">
                  room
                </i>
                        <p class="ml-2">Rua Aug. Corrêa 1, Belém – Pa, Br</p>
                    </div>
                    <div class="row mb-3">
                        <i class="material-icons">
                  call
                </i>
                        <p class="ml-2">(91) 3201-7843</p>
                    </div>
                    <div class="row mb-3">
                        <i class="material-icons">
                  email
                </i>
                        <p class="ml-2">lghm_ufpa@googlegroups.com</p>
                    </div>
                </div>
                <div class="col-3">
                    <h5>Funding</h5>

                    <div class="row">
                        <div class="col text-center">
                            <a href="https://www.capes.gov.br/">
                                <img src="../static/images/capes.svg" width="60" height="60" />
                            </a>
                            <p>CAPES</p>
                        </div>
                        <div class="col text-center">
                            <a href="http://www.cnpq.br/">
                                <img src="../static/images/cnpq.svg" width="60" height="60" />
                            </a>
                            <p>CNPq</p>
                        </div>
                        <div class="col text-center">
                            <a href="https://portal.ufpa.br/">
                                <img src="../static/images/ufpa.svg" width="60" height="60" />
                            </a>
                            <p>UFPa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>